* {
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
/*  background: url(../images/green_cup.png);*/
}

.container {
/*	background: #1e4d99;*/
}

.jumbotron.title {
	text-align: center;
	background-color: #1e4d99;
	color: black;
}
.title {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #c0c9d8;

}

.train-table, #train-list th, td {
	border: 2px solid #bbbec1;
	width: 100%;
}

h2 {
	background-color: #79a2e5;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-left: 16px;
}